<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- Bootstrap CSS の追加 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!-- `biostat` ディレクトリ専用のヘッダー内容 -->
        <h1>Biostatistics Section</h1>
    </header>

    <article>
        {{ content }}
    </article>

    <footer>
        <!-- `biostat` ディレクトリ専用のフッター内容 -->
        <p>© 2023 Biostatistics </p>
    </footer>
    <!-- Bootstrap JavaScript の追加 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
